<div class="user__post">
    <%= image_tag "#{person.photo}" %>

  <div class="user__post__info">
    <h3><%= person.name %></h3>
    <div class="post__num">
    <p> Number of posts: <%= person.posts_counter %></p>
    </div>
  </div>
</div>