.form_control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form_control label {
  font-weight: 500;
  margin: 0.3rem 0;
}

.form_control input,
.form_control textarea {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
}

input[type="submit"] {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease;
}

input[type="submit"]:hover {
  opacity: 1;
}

/* sign up/sign in */
.sign {
  margin: auto;
  width: 80%;
  margin-top: 4rem;
  padding: 0.8rem;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 #343a3f;
}

.sign h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.sign .field,
.actions {
  margin: 1rem;
}

.sign input[type="checkbox"] {
  width: 3%;
}

.sign input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  padding: 0.5rem;
  border: 1px solid #343a3f;
}

.shared_links {
  text-align: center;
}

.shared_links a {
  transition: all 0.5s ease;
  color: #000;
  opacity: 0.6;
  margin: 0 1rem;
}

.shared_links a:hover {
  opacity: 1;
}

@media screen  and (min-width: 900px) {
  .sign {
    width: 65%;
  }
}
