.navbar_brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
}

.nav_container {
  background-color: #343a3f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #f8f9fa;
}

.nav_menu {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.nav_item {
  margin: 0 2rem;
  font-size: 1rem;
}

.nav_link,
.profile_username a {
  transition: all 0.7s ease;
  color: #f8f9fa;
  opacity: 0.6;
}

.nav_link:hover,
.profile_username a:hover {
  opacity: 1;
}
