/* User show method styles */
.user__post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.user__post img {
  border: 1px solid #000;
}

.user__post__info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  height: 100%;
  padding: 0.4rem 1.5rem;
  color: #000;
}

.user__post__info h3 {
  display: flex;
  align-items: center;
}

.user__post__info .post__num {
  display: flex;
  align-items: end;
  font-size: 0.8rem;
}

.user_show_container {
  margin: 1.2rem;
}

.user_bio {
  border: 1px solid #000;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.user_bio h3 {
  margin-bottom: 0.4rem;
}

.post_container {
  border: 1px solid #000;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.post_container h4,
.post_container a {
  color: blue;
}

.post_container .title {
  margin: 0.5rem 0;
}

.post_container .counters {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
}

.post_container_info span {
  font-size: 0.8rem;
}

.post_container .counters span {
  margin: 0 0.3rem;
}

/* < === end === > */

.post_comment_limit {
  border: 1px solid #000;
  margin-bottom: 1rem;
  padding: 0.8rem;
}
.post_comment_limit .modify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modify p {
  margin: 0.3rem 0;
}

.modify button {
  font-size: 10px;
  background-color: red;
}

.post_container_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.post_desc {
  border: 1px solid #000;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.btn_container {
  display: flex;
}

.delete_post button {
  margin-left: 2rem;
  background-color: red;
}
